nav {
  display: flex;
  text-align: center;
  align-items:center;
  align-content: center;
  min-height: 20vh;
  background: #141214;
  color: rgb(248, 246, 246);
  text-decoration: none;
}
.home-header {
  background-color:#141214;
  color: #e8e9f3;
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border: none;

}

h3 {
  color: rgb(247, 244, 245);
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  list-style: none;
  color: rgb(248, 248, 248);
  border: none;
  
  text-decoration: none;
}

.exit-button {
  background: none;
  padding: 2vw;
  color: #e8e9f3;
  border: none;
}

a:visited {
  text-decoration: none;
  color: #e8e9f3;
}
