.App {
  text-align: center;
  background-color: black;
  overflow-x: hidden;
  overflow-y: hidden;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.footer {
  margin-top: 5vh;
  color: white;
}



.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


